<!DOCTYPE html>

<html>
  <head>
    <title>Forbidden</title>
    <style>
      /* Styles included inline since you'll probably be deleting or replacing this page anyway */
      html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h2,h3,h4,h5,h6,h7{font-weight:normal;font-size:1em}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}.page .ocean{background:#40484f center 0;height:170px}.page .ocean img{margin-right:auto;margin-left:auto}.page .main{display:block;margin-top:60px}.page .fishy{display:block;padding-top:40px}.page .help{padding-top:2em}.page h1{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:bold;font-size:1.7em;color:#001c20;text-align:center}.page h2{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:300;font-size:1.5em;color:#001c20;text-align:center}.page p{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-size:1.25em;color:#001c20;text-align:center}.page a{color:#118798}.page a:hover{color:#b1eef7}
    </style>
  </head>
  <body>

    <div class="page">
      <div class="ocean">
        <img class="fishy" src="./images/logo.png">
      </div>

      <div class="main">
        <h1>
          Forbidden
        </h1>
        <h2>
          You don't have permission to access to this page.
        </h2>
        <g:if test="${register == 'register'}"></g:if>
        <g:else>
          <p class="help">
            <a href="/#/app/account">Go Back</a> to the main page.
          </p>         
        </g:else>
      </div>

    </div>

  </body>
</html>
