/*****************************************Nav bar******************************************************/
.navbar-nav{
	margin-left: 30px;
}
.navbar-nav > li{
	font-size: 1.1em;
	font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
		background: rgba(64,72,79,1);
} 
.navbar-nav > li > a{
	color: #EEEEEE !important;
}
/*****************************************Nav bar******************************************************/

.body-account{
	background-color: rgba(244,245,247,0.9);
	overflow-x:hidden;
}

.navbar{
	background-color: #21272d;
	border-radius: 0px;
	margin-bottom: 0px;
	border:none;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.6);
}

/********************************************Account box************************************************/
.effect
{
  position: relative;
}
.effect:before, .effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/********************************************Account box************************************************/
.account-detail{
   position: relative;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}
.account-box{
	background-color: #32383e;
	height: 220px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.unChosen{
	margin-top:12% !important;
}
.chosen{
	margin-top: 10px !important;
}
#account-header{
	margin-top: 0px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-color: #40484f;
}
#account-header > span{
	margin-left: 10px;
	font-size: 1.5em;
	color: #cccccc;
}

/********************************************SLICIK*****************************************************/
.slick-prev , .slick-next{
	color: #60759e;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	top:35%;
	cursor: pointer;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.slick-prev{
}
.slick-prev:hover , .slick-next:hover{
	font-size: 3.4em;
	color: #91a0bd;
}
.slick-wrapper{
	width: 84%;
	margin-left:auto;
	margin-right: auto;
}
.slick-track > div{
	margin-left: 40px;
	margin-right: 20px;
	height:100px;
	background-color: #EEEEEE;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	display: block;
	text-align: center;
	line-height: 90px;
	border: none;
  	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.slick-track > div:hover{
	background-color: #43586d;
	border: outset 2px #0d2f51;
}
.slick-track > .active{
	margin-left: 40px;
	margin-right: 20px;
	height:100px;
	background-color: #43586d;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	display: block;
	text-align: center;
	line-height: 90px;
	border: none;
  	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
/********************************************SLICIK*****************************************************/
.slick-track > div > span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.slick-track > div > span > a{
	font-size: 1.2em;
	font-weight: bold;
	color: #32383e;
	text-decoration: none;
	cursor: pointer;
}
.slick-track > div:hover > span > a{
	font-size: 1.2em;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.slick-track > .active > span > a{
	font-size: 1.2em;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
/*******************************************ACCOUNT DETAIL*****************************************************/
.badge{
	margin-left: 2px;
}
.detail-container{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:0px 20px 20px 20px;}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.breadcrumb-wrapper{
	margin-bottom: -15px;
}
.breadcrumb{
	border-radius: 0px;
	background-color: rgba(245, 245, 245, 0.5);
}

/*responsive account menu*/

#resp-menu{
	display: none;
}

@media(min-width: 768) {

	#resp-menu{
		display: block;
	}
	#normal-menu{
		display: none !important;
	}

}