.app-item{
	width: 100%;
	height: 40px;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;	
	border-right: solid 1px #cccccc;
	border-left: solid 5px #cccccc;
	padding-left: 60px;
	padding-top: 8px;
	color:#555555;
	font-weight: 550;
	margin-top:5px;
	margin-bottom:5px;
  	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.app-item > span{
	margin-left: 15px;
}
.app-item:hover{
	background-color: #f3f3f3;
	font-weight: 600;
	cursor: pointer;
}
