.body-applist{
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);  
}
.wrapper {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 440px;
  margin-top: -160px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  margin: 0 auto;
  /*padding: 80px 0;*/
  padding-right: 10px;
  text-align: center;
  width: 100%;
}
.container h1 {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}

/****************************CONTENT*******************************/
.nav-app{
  background : none !important;
  border :none; 
  box-shadow: none !important;
  padding-right: 20px;
  padding-top: 0px;
}

.triangle-isosceles.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
  background:-moz-linear-gradient(#f3961c, #f9d835);
  background:-o-linear-gradient(#f3961c, #f9d835);
  background:linear-gradient(#f3961c, #f9d835);
}

.option>i{
  color: #FFFFFF;
  font-size: 1.5em;
  transition-duration: 1s;
}
.option>i:hover {
  font-size: 2.3em;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.hover-account{
  float: right;
  margin-top: 15px;
}
#pop-account{
    font-size: .9em;
    z-index: 3;
    width: 220px;    
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 20px;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 0px;
    padding: 15px 5px 5px 30px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;  
}

.hover-account:hover #pop-account {
    top: 45px;
    height: auto;
    opacity: 1;
    border: 1px solid #eeeeee;
}

.menu > li{
  margin-bottom: 8px;
  vertical-align: text-top; 
}
.menu > li > i{
  color: #666666;
  margin-right: 10px;
  font-size: 1em;
  font-weight: bold;
  line-height: 17px;
}
.menu > li > i{
  position: absolute;
}
.menu > li > a{
  font-weight: bold;
  color: #666666; 
  cursor: pointer;
  position: relative;
  margin-left: 25px;
}
.menu > li > a:hover{
  color: #2164a1;
}

#app{
	width: 100%;
	position: relative;
	height: 440px;
	overflow-y: scroll;
	overflow-x: hidden; 
	z-index: 2;
	padding-top: 15px;
	padding-bottom: 15px;
}

#app::-webkit-scrollbar {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 50px;
  width: 10px;
  height: 10px;
}
#app::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#app::-webkit-scrollbar-thumb {
  background: #c7eee7;
  border: 0px none #ffffff;
  border-radius: 50px;
}

#app::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 50px;
  padding: 10px;
}

#app::-webkit-scrollbar-corner {
  background: transparent;
}

.app-wrapper{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
  text-align: center;
  position: relative;
}

.item{
	-webkit-box-shadow: 8px 8px 5px 1px rgba(60, 60, 60, 0.3);
	-moz-box-shadow:    8px 8px 5px 1px rgba(60, 60, 60, 0.3);
	box-shadow:         8px 8px 5px 1px rgba(60, 60, 60, 0.3);
	border-radius: 5px;
	border: 1px solid #dddddd;
	width: 200px;
	height: 180px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
  padding: 3px 3px 3px 3px;  
	float: left;
  -webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.border{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 7px 7px 7px 7px;  
}

.oneItem{
  padding-left:35%;
}

.items{
	padding-left: 5%;
}

.twoItems{
	padding-left: 25%;

}
.threeItems{
	padding-left: 15%;
}

.border:hover{
  background-color: rgba(255, 255, 255, 0.9); 
}
.item:hover{

	-webkit-box-shadow: 0px 12px 8px 3px rgba(198, 198, 198, 0.3);
	-moz-box-shadow:    0px 12px 8px 3px rgba(198, 198, 198, 0.3);
	box-shadow:         0px 12px 8px 3px rgba(198, 198, 198, 0.3);
	border: 3px solid #DDDDDD;
}

.icon{
	width: 100%;
	height: 100px;
	margin-top: 15%;
	padding-top: 20%;

}


.icon > img {
	cursor: pointer;
}

.icon > a {
	color: #375b83;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

@media(max-width: 1180px) {

  .items{
    padding-left: 2%;
  }
  .twoItems{
    padding-left: 24%;
  }
  .threeItems{
    padding-left: 12%;
  }

}

@media(max-width: 1000px) {

  .items{
    padding-left: 5%;
  }
  .twoItems{
    padding-left: 21%;
  }

  .threeItems{
    padding-left: 7%;
  }

}

@media(max-width: 900px) {

  .items{
    padding-left: 2%;
  }
  .twoItems{
    padding-left: 18%;
  }

  .threeItems{
    padding-left: 2%;
  }

}


@media(max-width: 768px) {

  .items{
    padding-left: 5%;
  }

  .app-wrapper{
    padding-left: 50px;
  }

}





