.appunmember-body::-webkit-scrollbar {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 50px;
  width: 10px;
  height: 10px;
}
.appunmember-body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.appunmember-body::-webkit-scrollbar-thumb {
  background: rgba(95, 115, 135, 0.7);
  border: 0px none #ffffff;
  border-radius: 50px;
}
.appunmember-body::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 50px;
  padding: 10px;
}
.appunmember-body::-webkit-scrollbar-corner {
  background: transparent;
}

.appmember-body::-webkit-scrollbar {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 50px;
  width: 10px;
  height: 10px;
}
.appmember-body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.appmember-body::-webkit-scrollbar-thumb {
  background: rgba(95, 115, 135, 0.7);
  border: 0px none #ffffff;
  border-radius: 50px;
}
.appmember-body::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 50px;
  padding: 10px;
}
.appmember-body::-webkit-scrollbar-corner {
  background: transparent;
}
.appmember-invite{
	width: 100%;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	background-color: #F6F6F6;
	padding-bottom: 30px;
}
.appmember-invite-body{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.app-memberlist{
	height: 350px;
	border-right: solid 1px #999999;
}
.app-memberlist > .page-header{
	margin-top: 0px;
	margin-bottom: 10px;
	color: #32383e;
	width: 95%;
  padding-bottom: 0px;
}
.appmember-body{
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-right: 10px;
}
.appmember-item{
	padding: 5px;
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
	margin-bottom: 5px;
	width: 255px;
	float: left;
	margin-left: 10px;
}
.appmember-avatar{
	width: 60px;
	height: 60px;
	border: solid 1px #CCCCCC;
	margin-right: 5px;
	float: left;
}
.appmember-info{
	float: left;
}
.appmember-delete-section{
	float: left;
}
.appmember-remove{
	float: right;
	margin-right: 1px;
}
.appmember-email{
	font-size: .8em;
	margin-bottom: 5px;
	margin-top: 2px;
	width: 160px;
	color: #32383e;
}
.appmember-confirm-delete{
	font-size: .8em;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 2px;
	width: 160px;
	color: #32383e;
}
.appmember-confirm-delete > i{
	font-size: 1.2em;
	margin-right: 5px;
	color: #f0ad4e;
}
.input-role-group{
	float: left;
}
.appmember-role{
  width: 100%;
  margin-bottom: 10px;
}
.appmember-btn{
  clear: left;
  text-align: left;
  padding-top: 2px;
}
.appmember-btn > button{
  width: 35px;
  height: 15px;
  font-size: .7em;
  border-radius: 0px;
  line-height: 0px;
  padding-left: 5px;
}

.appmember-delete-btn{
  clear: left;
  text-align: left;
  padding-top: 2px;
  padding-left: 3px;
}
.appmember-delete-btn > button{
  width: 42px;
  height: 18px;
  font-size: .7em;
  border-radius: 0px;
  line-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

#btn-cancel-appMember{
  padding-left: 1px;
}
#select-role{
	font-size: .8em;
	background-color: #cccccc;
  	float: left;
}
#select-role > option{
	font-size: .8em;
}
#new-role{
	font-size: .8em;
	background-color: #cccccc;
	color:#000000;
  	float: right;
  	width: 90%;
}
#new-role > option{
	font-size: .8em;
}
.new-role-confirm{
	text-align: right;
} 
.new-role-confirm > button{
	font-size: .7em;
	height: 18px;
	width: 38px;
	line-height: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	border-radius: 0px;
}
.appmember-remove:hover{
	cursor: pointer;
}
.appmember-remove > a > i {
	font-size: .8em;
	color: #8b3a3a;
}

.app-unmemberlist{
	margin-top: 5px;
}
.appunmember-body{
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.appunmember-body > .alert{
	width: 95%;
}
.appunmember-item{
	width: 95%;
	height: 46px;
	padding-left: 20px;
	padding-right: 10px;
	color:#FFFFFF;
	font-weight: 550;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #32383e;
	margin-bottom: 1px;
  	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.appunmember-item:hover{
	background-color: #f3f3f3;
}
.appunmember-item:hover > .appunmember-email{
	font-weight: 600;
	color:#333333;
}
.appunmember-email{
	float: left;
	padding-top: 10px;
	font-size: .8em;
}
.appunmember-avatar{
	float: left;
	width: 32px;
	height: 32px;
	border:solid 1px #cccccc;
	margin-right: 10px;
	margin-top: 3px;
}
.appunmember-add{
	float: right;
	margin-top: 8px;
	padding-top: 3px;
	font-size: .7em;
	color: #fcfcfc;
	background-color: #5bc0de;
	width: 50px;
	height: 20px;
	border-radius: 15px;
	text-align: center;
}

.appunmember-add > a{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.appunmember-add > a > i{
  font-size: .6em;
	line-height: 0px;
  margin-right: 2px;
}
.search-group{
	float: left;
	margin-bottom: 10px;
	margin-top: 5px;
	padding-right: 25px;
}
.choose-role{
	clear: left;
	top: -5px;
	margin-left: auto;
	width: 50%;
	background-color: #FFFFFF;
	padding: 10px 10px 10px 20px;
	position: relative;
	text-align: right
	color:#333333;
-webkit-box-shadow: -4px 3px 5px 0px rgba(122, 122, 122, 0.5);
-moz-box-shadow:    -4px 3px 5px 0px rgba(122, 122, 122, 0.5);
box-shadow:         -4px 3px 5px 0px rgba(122, 122, 122, 0.5);
}
.new-role-confirm{
	padding-top: 5px;
	clear: right;
}
#member-search{
  width: 90px;
  background-color: #555f69;
  color: #FFFFFF;
  border-radius: 15px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
#member-search:focus{
  width: 220px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.3s;
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move{
  opacity:0;
}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

.appMember-alert{
	padding-top: 5px;
	padding-bottom: 5px;
}

@media(max-width: 1225px) {

  .appmember-item{
  	  width: 95%;
  }

}
@media(max-width: 1004px) {

  .app-memberlist{
		border-right: none;
		height: 320px;
	}
	.appmember-body{
		height: 250px;
		overflow-x: hidden;
		overflow-y: auto;
		margin-right: 0px;
	}
	.app-unmemberlist{
		margin-top: 0px;
	}

}
