.member-item{
	width: 100%;
	height: 40px;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;	
	border-right: solid 1px #cccccc;
	border-left: solid 5px #cccccc;
	padding-left: 60px;
	color:#555555;
	font-weight: 550;
	margin-top:5px;
	margin-bottom:5px;
  	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.member-item:hover{
	background-color: #f3f3f3;
	font-weight: 600;
}
.member-item:hover > div{
	cursor: pointer;
}
.member-email{
	float: left;
	padding-top: 8px;
}
.member-avatar{
	float: left;
	width: 32px;
	height: 32px;
	border:solid 1px #cccccc;
	margin-right: 20px;
	margin-top: 3px;
}
.member-role{
	float: left;
	margin-top: 9px;
	margin-left: 100px;
	padding-top: 2px;
	font-size: .8em;
	color: #FFFFFF;
	background-color: #999999;
	width: 68px;
	height: 55%;
	border-radius: 15px;
	text-align: center;
	
}
.active-status{
	float: right;
	text-align: center;
	margin-right: 5px;
	margin-top: 5px;
	padding-top: 3px;
	width: 60px;
	height: 75%;
	background-color: #00ff00;	
	color: #FFFFFF;
}
.inactive-status{
	float: right;
	text-align: center;
	margin-right: 5px;
	margin-top: 5px;
	padding-top: 3px;
	width: 60px;
	height: 75%;
	background-color:#ffc425;	
	color: #FFFFFF;
}
.btn-invite{
	float: right;
	padding-right: 2px;
}
.btn-invite >button>i{
	margin-right: 5px;
	font-size: 1em;
	line-height: 0px;
}

.member-invite{
	height: 180px;
	width: 100%;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	background-color: #F6F6F6;
}
.invite-header{
	background-color: #46b8da;
	padding: 7px 20px 7px 20px;
	color:#FFFFFF;	
}
.invite-header > i{
	margin-right: 10px;
	font-size: 1em;
	line-height: 0px;
}
.invite-header > span{
	font-size: 1.1em;
}
.invite-body{
	margin-top: 30px;
	margin-bottom: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.invite-footer{
	text-align: right;
}
.invite-footer > button{
	width:80px;
}

#account-role{
	width: 160px;
}
.label-role{
	margin-left: 10px;
}
