.profile-card {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 20px 20px 20px;
	margin-top: 25px;
}

.profile-header > .page-header{
	margin-top : 0px;
}

.profile-header > .page-header > i {
	line-height: 0px;
	margin-right: 15px;
	color: #43586d;
}

.profile-content{
	margin-top: 40px;
}
#profile-contact-section{
	border-left: solid 1px #CCCCCC;
}
.profile-menu > li{
	cursor: pointer;
	padding: 10px 0px 10px 10px;
	transition-duration: 0.5s;
}
.profile-menu > li > a{
	text-decoration: none;
	color: #666666;
}
.profile-menu > li:hover{
	background-color: #EEEEEE;
}

.profile-menu > li:hover > a, .profile-menu > li:hover > i{
	color: #333333;
}

.profile-menu > .active{
	background-color: #40484f;
}

.profile-menu > .active > a, .profile-menu > .active > i{
	color:#FFFFFF;
	font-weight: 300;
}

.profile-menu > li > i{
	margin-right: 10px;
}

#form-group-current-password{
	margin-bottom: 35px;
}
#form-group-email{
	margin-top: 35px;
	margin-bottom: 35px;
}

.req{
	color:#FF0000;
}
