html {min-height: 100%; }
body{
	min-height: 100%;
  overflow-x: auto;
  background-color: rgba(244,245,247,0.9);
}
.container{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden; 
}
.navbar-brand{
  margin-top: -10px;
}

.navbar{
  background-color: #21272d;
  border-radius: 0px;
  margin-bottom: 0px;
  border:none;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.6);
}

.register-card {
  background: #FEFEFE none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px 20px 20px;
  margin-top: 30px;
}

.profile-header{
  text-align: center;
  padding: 10px 0px 30px 0px;
  font-weight: bold;
  font-size: 2em;
  color:#555555;
}
.btn-zone{
  margin-top: 30px;
}
.edit-btn{
  border-radius: 0px !important;
  width: 100px;
  margin-right: 5px;
}
.profile-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#email{
  border: none;
  box-shadow: none;
  background-color: #FEFEFE;
  font-weight: bold;
  color:#666666;
  font-size: 1em;
}
.req{
  color:#FF0000;
}
#pwd-section{
  margin-bottom: 40px;
}
hr{
  margin-bottom: 0px;
  border-color:#EEEEEE;
  margin-top: 10px;
}

.appMember-alert{
  padding-top: 8px;
  padding-bottom: 8px;
}