html {min-height: 100%; }
body{
	min-height: 100%;
  overflow-x: auto;
}
ul{
  list-style-type: none;
  padding: 0px;
}
a{
  cursor: pointer;
}
::-webkit-scrollbar {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 50px;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #32383e;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 50px;
  padding: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  line-height: 8px;
  margin-left: 5px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }

.navbar-brand{
  margin-top: -10px;
}