<div class="account-detail" ng-init="init()">
		<h3 class="page-header"><span>Application list</span></h3>
		<div class="app-list">
			<div class="row">
				<div class="col-md-12">
					<div ng-show="appListLoading" class="loading">
						<img src="/images/loading.gif"/>
					</div>
					<ul>
						<li class="app-item" ng-repeat="app in accountApps">
							<i class="fa fa-cubes fa-lg"></i>
							<span><a ui-sref="app.account.detail.appMember({appId: app.id})">{{app.name}}</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
</div>
