<section class="account-box {{ activeMenu=='app.account'?'unChosen':'chosen' }} effect" ng-init="init()">
	<div id="account-header" class="page-header"><span>Choose account{{accountId}}</span></div>
	<div class="slick-wrapper">

		<slick infinite="true" init-onload=true data="accounts" slides-to-show="4" slides-to-scroll="1" prev-arrow=".slick-prev" next-arrow=".slick-next">
				<div ng-repeat="account in accounts" ui-sref-active="active"> 
					<span><a ui-sref="app.account.detail({accountId: account.id})">{{account.name}}</a></span>
				</div>
			<a type="button" class="slick-prev"><i class="glyphicon glyphicon-menu-left"></i></a>
			<a type="button" class="slick-next"><i class="glyphicon glyphicon-menu-right"></i></a>
		</slick>
	</div>
</section>

<div ui-view></div>
