<div class="detail-container">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active: activeMenu === 'app'}">
                        <a ui-sref="app.account.detail.appAccount">Application</a>
                    </li>
                    <li role="presentation" ng-class="{active: activeMenu === 'member'}">
                        <a ui-sref="app.account.detail.memberAccount">Member</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>

</div>
