<div class="account-detail" ng-init="init()">
		<h3 class="page-header">
			<span>iMedia - Application</span>
		</h3>
		<div class="appmember-invite">
			<div class="invite-header">
				<i class="fa fa-user fa-lg"></i><span>Application's Member</span>
			</div>
			<div class="appmember-invite-body">
				<div class="row">
					<div class="col-md-7">
						<div class="app-memberlist">
							<div class="page-header">
								<div collapse="successCollapse" class="alert alert-info appMember-alert" role="alert">
									<button type="button" class="close" ng-click="successCollapse = true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Success.</strong> Members have been updated.
								</div>
								<h4>Members in Application</h4>
							</div>
							<div class="appmember-body">
								<div ng-show="appMemberLoading" class="loading">
									<img src="/images/loading.gif"/>
								</div>
								<ul>
									<li class="appmember-item animate-repeat" ng-repeat="appMember in appMembers">
										<div class="appmember-avatar">
											<img src="/images/man-icon.png" width="60px" height="60px">
										</div>
										<div ng-show="!stateDelete">
											<div class="appmember-info">
												<div class="appmember-email">{{appMember.email}}</div>
												<div class="appmember-role">
													<select id="select-role" ng-model="appMember.role" ng-options="options as options for options in options" ng-change="btnCollapse = false;" >
													</select>
												</div>
												<div collapse="btnCollapse " class="appmember-btn">
													<button id="btn-save-appMember" ng-click="saveMemberRole(appMember);btnCollapse = true;" class="btn btn-sm btn-info">Save</button>
													<button ng-show="!appMember.isNew" id="btn-cancel-appMember" ng-click="appMember.role = appMember._role; btnCollapse  = true" class="btn btn-sm btn-warning">Cancel</button>
												</div>
											</div>
											<div class="appmember-remove">
												<a ng-click="stateDelete = true"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
										</div>
										<div class="appmember-delete-section" ng-show="stateDelete">
											<div class="appmember-confirm-delete"><i class="glyphicon glyphicon-question-sign"></i>Confirm Remove</div>
											<div class="appmember-delete-btn">
												<button  ng-click="removeAppMember(appMember)" class="btn btn-sm btn-info">Confirm</button>
												<button ng-show="!appMember.isNew" ng-click="stateDelete = false" class="btn btn-sm btn-warning">Cancel</button>
											</div>
										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="app-unmemberlist">
							<div class="row">
								<div class="col-md-12">
									<div class="search-group">
										<div class="inner-addon left-addon">
										    <i class="glyphicon glyphicon-search"></i>
										    <input type="text" id="member-search" class="form-control input-sm" ng-model="filterText" placeholder="Search..."/>
										</div>
									</div>
								</div>
							</div>

							<div class="appunmember-body">
								<div ng-show="accMemberLoading" class="loading">
									<img src="/images/loading.gif"/>
								</div>
								<div collapse="existCollapse" class="alert alert-danger appMember-alert" role="alert">
									<button type="button" class="close" ng-click="existCollapse = true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									This member is already in application.
								</div>
								<ul>
									<li class="appunmember-item animate-repeat" ng-repeat="accMember in accountMembers | filter:filterText">
										<div class="appunmember-avatar"><img src="/images/man-icon.png" width="31px" height="31px"></div>
										<div class="appunmember-email">{{accMember.email}}</div>
										<!--<div class="appunmember-add"><a ng-click="addAppMember(accMember);"><i class="fa fa-plus fa-lg"></i>Add</a></div>-->
										<div class="appunmember-add"><a ng-click="chooseRole = !chooseRole"><i class="fa fa-plus fa-lg"></i>Add</a></div>
										<div ng-show="chooseRole" class="choose-role">
											<select id="new-role" ng-model="newRole" ng-options="option as option for option in options" ng-change="assignNewRole(newRole)">
											</select>
											<div class="new-role-confirm">
											<button ng-click="addAppMember(accMember);chooseRole = false;" class="btn btn-sm btn-info">Save</button>
											<button ng-click="chooseRole  = false" class="btn btn-sm btn-warning">Cancel</button></div>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
</div>
