<div class="account-detail" ng-init="init()">
		<h3 class="page-header">
			<span>Member list</span>

			<span class="btn-invite"><button class="btn btn-sm btn-info" ng-click="inviteCollapsed = !inviteCollapsed"><i class="fa fa-user-plus fa-lg"></i>Invite New Member to Account</button></span>
		</h3>
		<div collapse="alertCollapse" class="alert alert-success appMember-alert" role="alert">
			<button type="button" class="close" ng-click="alertCollapse = true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Success.</strong> {{msg}}
		</div>
		<div collapse="errorCollapse" class="alert alert-danger appMember-alert" role="alert">
	      <button type="button" class="close" ng-click="errorCollapse = true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Failed.</strong> {{msg}}
	    </div>
		<div class="member-invite" collapse="inviteCollapsed">
			<div class="invite-header">
				<i class="fa fa-user-plus fa-lg"></i><span>Invite Member to Account</span>
			</div>
			<div class="invite-body">
				<div class="row">
					
						<div class="col-md-12" id="invite-email">
							<div class="form-group {{hasEmail}}">
								<form name="emailForm">
								    <div class="input-group">
								      <div class="input-group-addon">Email</div>
								      <input type="email" id="email" name="email" ng-model="email" class="form-control" placeholder="newuser@email.com" >
								    </div>										
								</form>
							</div>
						</div>

						<div class="col-md-4">
						    <form class="form-inline">
							<div class="form-group">
								<label class="label-role">Role :&nbsp;</label>
								<select id="account-role" class="form-control" ng-model="role" ng-options="options as options for options in options" >
								</select>
							</div>
							</form>
						</div>
						
						<div class="col-md-offset-4 col-md-4">
							<div class="invite-footer">
								<button ng-disabled="isDisabled"  ng-click="inviteUser()" class="btn btn-sm btn-info">Invite</button>&nbsp;
								<button ng-disabled="isDisabled"  ng-click="inviteCollapsed = true" class="btn btn-sm btn-warning">Cancel</button>
							</div>
						</div>	
					
				</div>

			</div>
		</div>
		<div class="member-list">
			<div class="row">
				<div class="col-md-12">
					<div ng-show="memberListLoading" class="loading">
						<img src="/images/loading.gif"/>
					</div>
					<ul>
						<li class="member-item" ng-repeat="member in accountMembers">
						  <div class="member-avatar"><img src="/images/man-icon.png" width="31px" height="31px"></div>
						  <div class="member-email">{{member.email}}</div>
						  <div ng-if="!member.status || member.status==='active'" class="active-status">Active</div>
						  <div ng-if="member.status==='new'" class="inactive-status">Inactive</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
</div>
