<nav class="navbar navbar-default nav-account">
	<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" ng-init="navbarCollapse = true" ng-click="navbarCollapse = !navbarCollapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img src="./images/logo.png" width="102" height="38"></a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse" collapse="navbarCollapse">
		<ul id="resp-menu" class="nav navbar-nav">
			<li><i class="fa fa-cubes fa-lg"></i><a ui-sref="applist">Applications</a></li>
			<li ng-show="accountOwner" ><i class="fa fa-cog fa-lg"></i><a ui-sref="app.account({accountList : accounts})">Account Setting</a></li>
			<li><i class="fa fa-user fa-lg"></i><a ui-sref="app.myprofile">My Profile</a></li>
			<li><i class="fa fa-power-off fa-lg"></i><a ng-click="logout()">Logout</a></li>
		</ul>
		<p class="navbar-text navbar-right">
	  		<div id="normal-menu" class="hover-account">
		        <a class="navbar-link option">
		      		<i class="fa fa-cog fa-lg"></i>
		        </a>
				<div id="pop-account">
					<ul class="menu">
						<li><i class="fa fa-cubes fa-lg"></i><a ui-sref="applist">Applications</a></li>
						<li ng-show="accountOwner" ><i class="fa fa-cog fa-lg"></i><a ui-sref="app.account({accountList : accounts})">Account Setting</a></li>
						<li><i class="fa fa-user fa-lg"></i><a ui-sref="app.myprofile">My Profile</a></li>
						<li><i class="fa fa-power-off fa-lg"></i><a ng-click="logout()">Logout</a></li>
					</ul>
				</div>
	  		</div>
    	</p>
    </div>
</nav>

<div ui-view></div>
