<nav class="navbar navbar-default nav-app">
  <div class="container-fluid">
      <p class="navbar-text navbar-right">
      		<div class="hover-account">
		        <a class="navbar-link option">
		      		<i class="fa fa-cog fa-lg"></i>
		        </a>
				<div id="pop-account">
					<ul class="menu">
						<li ng-show="accountOwner" ><i class="fa fa-cog fa-lg"></i><a ui-sref="app.account({accountList : accounts})">Account Setting</a></li>
            <li><i class="fa fa-user fa-lg"></i><a ui-sref="app.myprofile">My Profile</a></li>
						<li><i class="fa fa-power-off fa-lg"></i><a ng-click="logout()">Logout</a></li>
					</ul>
				</div>
      		</div>
      </p>
  </div>
</nav>
<div class="wrapper" class="app">

	<div class="container">


		<div id="app" class="scroll" ng-init="init()">

			<div class="app-wrapper {{itemClass}}" >
				<div class="item" ng-repeat="app in apps">
					<div class="border">
						<div class="icon">
							<a ng-click="openApp(app.url)">{{app.name}}</a>
						</div>
					</div>
				</div>

			</div>

		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

</div>
