<div class="profile-container" ng-init="init()">
  <div class="row">
    <div class="col-md-12">
      <div class="profile-card">
        <section class="profile-header">
        	<h3 class="page-header"><i class="fa fa-user fa-lg"></i>My Profile</h3>
        </section>
        <section class="profile-content">
        	<div class="row">
              <div  class="col-md-3">
                <ul class="profile-menu">
                  <li ng-class="{active: state === 'contact'}">
                    <i class="fa fa-credit-card fa-lg"></i>
                    <a ng-click="checkState('contact')">Profile Contact</a>
                  </li>
                  <li ng-class="{active: state === 'setting'}">
                    <i class="fa fa-cog fa-lg"></i>&nbsp;
                    <a ng-click="checkState('setting')">Profile Setting</a>
                  </li>
                </ul>
              </div>
              <div id="profile-contact-section" class="col-md-8">
                
                <div collapse="alertCollapse" class="col-sm-offset-1 alert alert-success appMember-alert" role="alert">
                  <button type="button" class="close" ng-click="alertCollapse = true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Success.</strong> {{msg}}
                </div>
                <div collapse="errorCollapse" class="col-sm-offset-1 alert alert-danger appMember-alert" role="alert">
                  <button type="button" class="close" ng-click="errorCollapse = true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Failed.</strong> {{msg}}
                </div>

                <div ng-show="isContact" class="contact">
                  <form class="form-horizontal">
                    <div class="form-group {{hasFirstName}}" >
                      <label class="col-sm-3 control-label">First Name<span class="req">*</span></label>
                      <div class="col-sm-9">
                        <input type="text" id="firstName" class="form-control" ng-model="profile.firstName" placeholder="First Name">
                      </div>
                    </div>
                    <div class="form-group {{hasLastName}}">
                      <label class="col-sm-3 control-label">Last Name<span class="req">*</span></label>
                      <div class="col-sm-9">
                        <input type="text" id="lastName" class="form-control" ng-model="profile.lastName"  placeholder="Last Name">
                      </div>
                    </div>
                    <div id="form-group-email" class="form-group">
                      <label  class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" ng-model="profile.email" readonly="">
                      </div>
                    </div>
                    <div class="form-group {{hasTel}}">
                      <label class="col-sm-3 control-label">Tel No.</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="profile.tel" phone-input placeholder="Telephone Number">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Company</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="profile.company"  placeholder="Company">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Position</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="profile.position"  placeholder="Position">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" ng-disabled="isDisabled" ng-click="saveProfile()" class="btn btn-primary">Save</button>
                        <button type="submit" ng-disabled="isDisabled" ng-click="resetProfile()"class="btn btn-warning">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div ng-show="isSetting" class="profile-setting">
                  <form class="form-horizontal">
                    <div id="form-group-current-password" class="form-group {{hasCurrent}}">
                      <label class="col-sm-3 control-label">Current Password<span class="req">*</span></label>
                      <div class="col-sm-9">
                        <input type="password" ng-model="password.current" class="form-control" placeholder="Current Password">
                      </div>
                    </div>
                    <div class="form-group {{hasNew}}">
                      <label class="col-sm-3 control-label">New Password<span class="req">*</span></label>
                      <div class="col-sm-9">
                        <input type="password" ng-model="password.new" class="form-control" placeholder="New Password (at least 6 characters)">
                      </div>
                    </div>
                    <div class="form-group {{hasConfirm}}">
                      <label class="col-sm-3 control-label">Confirm Password<span class="req">*</span></label>
                      <div class="col-sm-9">
                        <input type="password" ng-model="password.confirm" class="form-control" placeholder="Confirm Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" ng-disabled="isDisabled" ng-click="changePassword()" class="btn btn-primary">Save</button>
                        <button type="button" ng-disabled="isDisabled" ng-click="resetPassword()" class="btn btn-warning">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div><!--end col-md-8-->
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
